
# Build targets
*.o
proteus
slyp

# Vim backup files
*~
*.swp

# Tag files
tags
GPATH
GRTAGS
GSYMS
GTAGS
ID

# For CMake build system
Makefile
CMakeCache.txt
CMakeFiles/*
CMakeFiles/
cmake_install.cmake
libProteus.so
ptest
test_build.pyc
