
# Build targets
*.o
proteus
#slip

# Vim backup files
*~
*.swp

# Tag files
tags
GPATH
GRTAGS
GSYMS
GTAGS
ID

# For CMake build system
Makefile
CMakeCache.txt
CMakeFiles/*
CMakeFiles/
cmake_install.cmake
libProteus.so
ptest
test_build.pyc

core/InfonIO.d
core/OKOutput.pyc
core/Proteus.d
core/auto.cgpr
core/clip
core/clip.d
core/core
core/doNose.pyc
core/functest.pr

